<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<section
  class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
  style="
    height: 100vh;
    background-size: cover;
    background-image: url(https://c0.wallpaperflare.com/preview/839/644/931/finland-visuvesi-machine-steam.jpg);
  "
>
  <div class="container-fluid">
    <div
      class="
        row
        justify-content-center
        align-items-center
        d-flex
        text-center
        h-100
      "
    >
      <div class="col-12 col-md-8 h-50">
        <h1 class="display-2 text-info mb-2 mt-5">
          <strong>TERMOSERVISAS</strong>
        </h1>
        <p class="lead text-warning mb-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea rerum
          voluptates at porro! Nam quia error officiis repudiandae praesentium,
          accusantium nesciunt? Dolorem adipisci nam illum, ad pariatur suscipit
          in harum.
        </p>
        <p>
          <a
            routerLink="home"
            class="
              btn
              bg-primary
              shadow-lg
              btn-round
              text-light
              btn-lg btn-rised
            "
            >Get Started ></a
          >
        </p>
      </div>
    </div>
  </div>
</section>