<div class="row p-4 gx-0 align-items-center">
  <div class="col-sm-4">
    <div class="card mx-auto mb-3" style="max-width: 540px; height: 55vh">
      <div class="row g-0">
        <div class="col-md-7">
          <img src="..." class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-5">
          <div class="card-body text-center  d-grid gap-3">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card mx-auto mb-3" style="max-width: 540px; height: 55vh">
      <div class="row g-0">
        <div class="col-md-7">
          <img src="..." class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-5">
          <div class="card-body text-center  d-grid gap-3">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card mx-auto mb-3" style="max-width: 540px; height: 55vh">
      <div class="row g-0">
        <div class="col-md-7">
          <img src="..." class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-5">
          <div class="card-body text-center  d-grid gap-3">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
